polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.limba.refresh-cache" &&
        subject.active == true && subject.local == true) {
            return polkit.Result.YES;
    }

    if (action.id == "org.freedesktop.limba.install-software" &&
        subject.active == true && subject.local == true &&
        subject.isInGroup("sudo")) {
            return polkit.Result.YES;
    }

    if (action.id == "org.freedesktop.limba.remove-software" &&
        subject.active == true && subject.local == true &&
        subject.isInGroup("sudo")) {
            return polkit.Result.YES;
    }

    if (action.id == "org.freedesktop.limba.update-software" &&
        subject.active == true && subject.local == true &&
        subject.isInGroup("sudo")) {
            return polkit.Result.YES;
    }
});
