[Desktop Entry]
Exec=visual-ldd
GenericName=Visual Dependency Walker
Icon=visual-ldd.png
Name=Visual Dependency Walker
Comment=Graphically display executables' dependencies in a tree
Terminal=false
Type=Application
Categories=Development;Utils;
MimeType=application/x-executable
StartupNotify=true
X-AppVersion=0.4.0
