[Desktop Entry]
Name=Listaller FooBar
Comment=Listaller FooBar Test Program
Exec=foo
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;Core;
Icon=help-browser
Terminal=true
X-AppVersion=1.0
